.input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.input-element {
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.input-element:focus {
    outline: none;
    background-color: #ccc;
}

.invalid {
    border: 1px solid red;
    background-color: #fff8f7
}

.validation-error {
    color: red;
    margin: 5px 0;
}